@model HazeltineStorage.Models.Invoice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
            @Html.DisplayNameFor(model => model.Customer.LastName)
            @*@Html.DisplayNameFor(model => model.Customer.UserId)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
            @Html.DisplayFor(model => model.Customer.LastName)
            @*@Html.DisplayFor(model => model.Customer.UserId)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForMonthOf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForMonthOf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalDue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
