@model HazeltineStorage.Models.ActivityLog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ActivityLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessageType.MessageType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageType.MessageType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
