@model HazeltineStorage.ViewModels.ContractBuilderViewModel
@{
    ViewBag.Title = "Add Storage";
}


<h2>Add Storage To Contract</h2>


<p>
    @Model.Contract.Id
</p>

@Model.Contract.StartDate
<br />
@Model.Customer.FirstName
@Model.Customer.LastName
<br />
@Model.Customer.Address1


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(su => su.StorageUnits.First().UnitNumber)
        </th>
        <th>
            @Html.DisplayNameFor(su => su.StorageUnits.First().UnitDescription)
        </th>
        <th>
            @Html.DisplayNameFor(su => su.StorageUnits.First().TermAtRate)
        </th>
        <th>
            @Html.DisplayNameFor(su => su.StorageUnits.First().RentalRate)
        </th>
    </tr>
                @foreach (var storageUnit in Model.StorageUnits.Where(su => su.ContractId == Model.Contract.Id))
                {
                    <tr>
                        <td>
                            @storageUnit.UnitNumber
                        </td>
                        <td>
                            @storageUnit.UnitDescription
                        </td>
                        <td>
                            @storageUnit.TermAtRate
                        </td>
                        <td>
                            @storageUnit.RentalRate
                        </td>
                    </tr>
                }
    <tr>
        <th>
            <p>Total Units Contracted</p>
        </th>
        <th></th>
        <th></th>
        <th>
            <p>Total Contracted Rate</p>
        </th>
    </tr>
    <tr>
        <td>
            @Model.StorageUnits.Where(su => su.ContractId == Model.Contract.Id).Count()
        </td>
        <td></td>
        <td></td>
        <td>
            @Model.Contract.ContractTotal
        </td>
    </tr>
</table>


            @using (Html.BeginForm("AddStorage", "Contracts", FormMethod.Post))//removed from arguments: new { viewModel = Model}
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(su => su.StorageUnits)
                    @Html.DropDownListFor(ssui => ssui.SelectedStorageUnitId, new SelectList(Model.StorageUnits, "Id", "UnitNumber"), "Select Storage Unit To Add", new { @class = "form-control" })
                </div>

                @Html.HiddenFor(m => m.Contract.Id)
                @Html.HiddenFor(m => m.Customer.Id)

                <button type="submit" class="btn-primary">Add Storage</button>
            }

<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>