@model HazeltineStorage.ViewModels.ContractBuilderViewModel
@{
    ViewBag.Title = "AddStorage";
}


<h2>Add Storage</h2>


    <p>  
        @Model.Contract.Id
    </p>

@Model.Contract.StartDate

@Model.Customer.FirstName
@Model.Customer.LastName


<ul>
        @foreach (var storageUnit in Model.StorageUnits.Where(su => su.ContractId == Model.Contract.Id))
        {
            <li>@storageUnit.UnitNumber @storageUnit.UnitDescription @storageUnit.RentalRate</li>
        }
    </ul>



@using (Html.BeginForm("AddStorage", "Contracts"))
{
    <div class="form-group">
        @Html.LabelFor(su => su.StorageUnits)
        @Html.DropDownListFor(su => su.StorageUnits, new SelectList(Model.StorageUnits, "Id", "UnitNumber"), "Select Storage Unit To Add", new { @class = "form-control" })
    </div>
}
