@model HazeltineStorage.Models.Contract

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contract</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayOfMonthDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayOfMonthDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayOfMonthGracePeriodEnds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayOfMonthGracePeriodEnds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractTotal)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")*@
    @Html.ActionLink("Back to My Account", "Index", "HazeltineCustomer")
</p>
