@model HazeltineStorage.ViewModels.CustomerPaymentViewModel

@{
    ViewBag.Title = "ConfirmOnlinePayment";
}

<h2>Confirm Online Payment</h2>

<p>Hello @Model.Customer.FirstName @Model.Customer.LastName,</p>

<p>Your account balance due is: $@Html.DisplayFor(model => model.Customer.CustomerBalance)</p>

<p>Make any desired changes to this online payment on the form below.</p>

@using (Html.BeginForm("Create", "Payments")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Payment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @* Try this: *@
        @Html.HiddenFor(model => model.Payment.CustomerId)

        @*<div class="form-group">
            @Html.LabelFor(model => model.CustomerId, "CustomerId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @Html.HiddenFor(model => model.Payment.ReceivedDate)

        <div class="form-group">
            @Html.LabelFor(model => model.Payment.ReceivedDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @* Try this: *@
                @Html.DisplayFor(model => model.Payment.ReceivedDate, new { htmlAttributes = new { @class = "form-control" } })
                @* And this: *@
                @*@Html.EditorFor(model => model.Payment.ReceivedDate, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Payment.ReceivedDate, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Try this: *@
        @Html.HiddenFor(model => model.Payment.PaymentTypeId)

        @*<div class="form-group">
            @Html.LabelFor(model => model.Payment.PaymentTypeId, "PaymentTypeId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                Changed the following line:
                @Html.DisplayFor(model => model.Payment.PaymentTypeId)
                @Html.DropDownList("PaymentTypeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Payment.PaymentTypeId, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Payment.AmountReceived, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Payment.AmountReceived, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Payment.AmountReceived, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Payment.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Payment.Notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Payment.Notes, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.DepositDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DepositDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DepositDate, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
